
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+Display:wght@300;700&display=swap');
.btni{
    border: none;
    position: absolute;
    top: 3vh;
    left:59vw;
    border-radius: 48px;
    background: #F7CE46;
    width: 6vw;
    padding: 1.5vh 2vw;
    font-size: 1vw;
    font-family: 'Noto Sans Display', sans-serif;
    cursor: pointer;
}
.izquierda{
    display: block;
}
.imagenfondo{
    display: block;
}
.imgf{
    margin-top: -1.6vh;
    margin-left: -0.7vw;
    margin-bottom: -1.9vh;
    height: 100vh;
    width: 40vw;
}
.logo{
    position: absolute;
    top: 5vh;
    left: 8vw;
}
.imglogo{
    height: 10vh;
    width: 16.5vw;
}
.card{
    position: absolute;
    top: -98.5vh;
    left: 32.5vw;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 66.9vw;
    border-radius: 60px 0px 0px 60px;
}
.datos{
    margin-left: 15vw;
    margin-right: 15vw;
}
.derecha{
    display: flex;
    position: relative;
}
.linea {
    position: relative;
    z-index: 1;
}
.linea::before {
    content: "";
    border-top: 1px solid #000000;
    width: 100%;
    position: absolute;
    top: 1.9vh;
    z-index: -1;
}
.linea > span {
    background-color: white;
    color: #2A2B2E;
}
.progres{
    position: relative;
    margin-bottom: 10vh;
}
.pr1{
    position: absolute;
    margin-left: -1vw;
    width: 2vw;
}
.pr2{
    position: absolute;
    margin-left: 15vw;
    width: 2vw;
}
.pr3{
    position: absolute;
    margin-left: 35vw;
    width: 2vw;
}
.sign1{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
}
.sign2{
    font-size: 1vw;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
}
.name{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.2vw;
    display: flex;
    position: relative;
}
.name > p{
    position: absolute;
    top: -2.5vh;
}
.input1{
    margin-left: 11vw;
    border-radius: 12px;
    border: 1px solid;
    border-color: #DDDFE5;
    width: 26vw;
    height: 5vh;
}
.gender{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.2vw;
    display: flex;
    position: relative;
    margin-top: 3vh;
}
.gender > p{
    position: absolute;
    top: -2.5vh;
}
.male{
    border: 0px solid;
    background-color: #2a2b2e00;
    margin-left: 8vw;
    width: 15vw;
}
.fema{
    border: 0px solid;
    background-color: #2a2b2e00;
    margin-left: 8vw ;
    width: 15vw;
}
.male{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 0.9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    cursor: pointer;
    background-color: #f9f9fc00;
    border-radius: 30px;
    border: 0px;
}
.male>i {
    display: flex;
}
.male >i >img{
    width: 1.7vw;
}
.male > span{
    color: blue;
}
.fema{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 0.9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    cursor: pointer;
    background-color: #f9f9fc00;
    border-radius: 30px;
    border: 0px;
}
.fema>i {
    display: flex;
}
.fema >i >img{
    width: 1.7vw;
}
.birth{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.2vw;
    display: flex;
    width: 43vw;
    position: relative;
    margin-top: 5vh;
}
.birth > p{
    position: absolute;
    top: -2vh;
}
.input3{
    margin-left: 11vw;
    border-radius: 12px;
    border: 1px solid;
    border-color: #DDDFE5;
    width: 26vw;
    height: 5vh;
    margin-bottom: 5vh;
}
.ns{
    font-family: 'Inter', sans-serif;
    background: var(--second-linear, linear-gradient(139deg, #F7CE46 0%, #FBE27E 100%));
    border-radius: 60px;
    border: 0px;
    font-size: 1.5vw;
    width: 38vw;
    height: 6vh;
    cursor: pointer;
    margin-bottom: 2vh;
}
.terminos{
    font-size: 1vw;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    color: #8C8E97;
}
.linea2 {
    position: relative;
    text-align: center;
    z-index: 1;
}
.linea2::before {
    content: "";
    border-top: 1px solid #000000;
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    z-index: -1;
}
.linea2 > span {
    background-color: white;
    padding: 0px 8px;
    color: #2A2B2E;
    font-size: 1.2vw;
    font-weight: 500;
}
.redes1{
    display: flex;
}
.redes2{
    display: flex;
}
.btn{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 0.9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    background-color: #F9F9FC;
    border-radius: 30px;
    border: 0px;
    height: 6vh;
    width: 20vw;
}
.btn>i {
    display: flex;
}
.btn >i >img{
    width: 1.5vw;
}
#ca1:before{
	font-family: 'Noto Sans Display', sans-serif;
    font-size: 0.9vw;
	content: "Continue with facebook";
}
#ca2:before{
	font-family: 'Noto Sans Display', sans-serif;
    font-size: 0.9vw;
	content: "Continue with Google";
}
#ca3:before{
	font-family: 'Noto Sans Display', sans-serif;
    font-size: 0.9vw;
	content: "Continue with Yandex";
}
#ca4:before{
	font-family: 'Noto Sans Display', sans-serif;
    font-size: 0.9vw;
	content: "Continue with VKontakte";
}
.cuenta{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 0.9vw;
    text-align: center;
}
.azul{
    color: blue;
}

@media (min-width: 30px) and (max-width: 820px){
    .btni{
        border: none;
        position: absolute;
        top: 3vh;
        left:3vw;
        border-radius: 48px;
        background: #ffffff;
        width: 6vw;
        padding: 1.5vh 2vw;
        font-size: 4vw;
        font-family: 'Inter', sans-serif;
        cursor: pointer;
    }
   
    .logo{
        position: absolute;
        top: 1vh;
        left: 50vw;
        z-index: 2;
    }
    .imglogo{
        height: 9vh;
        width: 50vw;
    }
    .card{
        position: absolute;
        top: -98vh;
        left: -1vw;
        background-color: rgb(255, 255, 255);
        height: 100vh;
        width: 99vw;
        border-radius: 0px 0px 0px 0px;
    }
    .datos{
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 10vh;
    }
    .derecha{
        display: flex;
        position: relative;
    }
    .linea {
        position: relative;
        z-index: 1;
    }
    .linea::before {
        content: "";
        border-top: 1px solid #000000;
        width: 97%;
        position: absolute;
        top: 1.4vh;
        z-index: -1;
    }
    .linea > span {
        background-color: white;
        color: #2A2B2E;
    }
    .progres{
        position: relative;
        margin-bottom: 10vh;
    }
    .pr1{
        position: absolute;
        margin-left: -1vw;
        width: 6vw;
    }
    .pr2{
        position: absolute;
        margin-left: 45vw;
        width: 6vw;
    }
    .pr3{
        position: absolute;
        margin-left: 87vw;
        width: 6vw;
    }
    .sign1{
        font-size: 10vw;
        text-align: center;
        margin-bottom: 0px;
        font-family: 'Inter', sans-serif;
    }
    .sign2{
        font-size: 4vw;
        text-align: center;
        font-family: 'Noto Sans Display', sans-serif;
    }
    .name{
        font-family: 'Noto Sans Display', sans-serif;
        font-size: 4.5vw;
        display: flex;
        position: relative;
    }
    .name > p{
        position: absolute;
        top: -2.5vh;
    }
    .input1{
        margin-top: 3vh;
        margin-left: 0vw;
        border-radius: 12px;
        border: 1px solid;
        border-color: #DDDFE5;
        width: 90vw;
        height: 4vh;
    }
    .gender{
        font-family: 'Noto Sans Display', sans-serif;
        font-size: 4.5vw;
        display: flex;
        position: relative;
        margin-top: 3vh;
    }
    .gender > p{
        position: absolute;
        top: -2.5vh;
    }
    .male{
        border: 0px solid;
        background-color: #2a2b2e00;
        margin-left: 2vw;
        width: 15vw;
    }
    .fema{
        border: 0px solid;
        background-color: #2a2b2e00;
        margin-left: 8vw ;
        width: 15vw;
    }
    .male{
        margin-top: 4vh;
        font-family: 'Noto Sans Display', sans-serif;
        font-size: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        cursor: pointer;
        background-color: #f9f9fc00;
        border-radius: 30px;
        border: 0px;
        margin-right: 25vw;
    }
    .male>i {
        display: flex;
    }
    .male >i >img{
        width: 12vw;
    }
    .male > span{
        color: blue;
    }
    .fema{
        margin-top: 4vh;
        font-family: 'Noto Sans Display', sans-serif;
        font-size: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        cursor: pointer;
        background-color: #f9f9fc00;
        border-radius: 30px;
        border: 0px;
    }
    .fema>i {
        display: flex;
    }
    .fema >i >img{
        width: 12vw;
    }
    .birth{
        font-family: 'Noto Sans Display', sans-serif;
        font-size: 4.5vw;
        display: flex;
        width: 43vw;
        position: relative;
        margin-top: 5vh;
    }
    .birth > p{
        position: absolute;
        top: -2vh;
    }
    .input3{
        margin-top: 4vh;
        margin-left: 0vw;
        border-radius: 12px;
        border: 1px solid;
        border-color: #DDDFE5;
        width: 100vw;
        height: 5vh;
        margin-bottom: 5vh;
    }
    .ns{
        font-family: 'Inter', sans-serif;
        background: var(--second-linear, linear-gradient(139deg, #F7CE46 0%, #FBE27E 100%));
        border-radius: 60px;
        border: 0px;
        font-size: 5vw;
        width: 92vw;
        height: 5vh;
        cursor: pointer;
        margin-bottom: 2vh;
    }
    .terminos{
        font-size: 3vw;
        text-align: center;
        font-family: 'Noto Sans Display', sans-serif;
        color: #8C8E97;
    }
    .linea2 {
        position: relative;
        text-align: center;
        z-index: 1;
    }
    .linea2::before {
        content: "";
        border-top: 1px solid #000000;
        width: 97%;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 50%;
        z-index: -1;
    }
    .linea2 > span {
        background-color: white;
        padding: 0px 8px;
        color: #2A2B2E;
        font-size: 4vw;
        font-weight: 500;
    }
    .redes1{
        display: flex;
    }
    .redes2{
        display: flex;
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        background-color: #F9F9FC;
        border-radius: 30px;
        border: 0px;
        height: 6vh;
        width: 100vw;
    }
    .btn>i {
        display: flex;
    }
    .btn >i >img{
        width: 5vw;
    }
    #ca1:before{
        font-family: 'Noto Sans Display', sans-serif;
        font-size:3vw;
        content: "Log in";
    }
    #ca2:before{
        font-family: 'Noto Sans Display', sans-serif;
        font-size: 3vw;
        content: "Log in";
    }
    #ca3:before{
        font-family: 'Noto Sans Display', sans-serif;
        font-size: 3vw;
        content: "Log in";
    }
    #ca4:before{
        font-family: 'Noto Sans Display', sans-serif;
        font-size: 3vw;
        content: "Log in";
    }
    .cuenta{
        font-family: 'Noto Sans Display', sans-serif;
        font-size: 4vw;
        text-align: center;
    }
    .azul{
        color: blue;
        cursor: pointer;
    }
}