.btni{
    border: none;
    position: absolute;
    top: 3vh;
    left:59vw;
    border-radius: 48px;
    background: #F7CE46;
    width: 6vw;
    padding: 1.5vh 2vw;
    font-size: 1vw;
    font-family: 'Noto Sans Display', sans-serif;
    cursor: pointer;
}
.img{
    margin-top: -1.5vh;
    margin-left: -0.7vw;
    margin-bottom: -2vh;
    height: 100vh;
    width: 40vw;
}
.logo{
    position: absolute;
    top: 5vh;
    left: 7.5vw;
}
.imglogo{
    height: 10vh;
    width: 16.5vw;
}
.card{
    position: absolute;
    top: -98.5vh;
    left: 32.5vw;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 66.9vw;
    border-radius: 60px 0px 0px 60px;
}
.datos{
    margin-left: 15vw;
    margin-right: 15vw;
}
.derecha{
    display: flex;
    position: relative;
}
.linea {
    position: relative;
    height: 4vh;
    z-index: 1;
}
.linea::before {
    content: "";
    border-top: 1px solid #000000;
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 45%;
    z-index: -1;
}
.progres{
    position: relative;
}
.pr1{
    position: absolute;
    margin-left: -1vw;
    width: 2vw;
}
.pr2{
    position: absolute;
    margin-left: 17vw;
    width: 2vw;
}
.pr3{
    position: absolute;
    margin-left: 35vw;
    width: 2vw;
}
.sign1{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
}
.sign2{
    font-size: 1vw;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
}
.intereses > p{
    text-align: center;
    font-size: 1.2vw;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.intereses > button{
    border-radius: 24px;
    border: none;
    background-color: #EFF5FF;
    padding: 8px 12px;
    cursor: pointer;
}
.intereses{
    display:inline;
    justify-items: center;
}
.ns{
    margin-top: 4vh;
    font-family: 'Inter', sans-serif;
    background: var(--second-linear, linear-gradient(139deg, #F7CE46 0%, #FBE27E 100%));
    border-radius: 60px;
    border: 0px;
    font-size: 1.5vw;
    width: 38vw;
    height: 6vh;
    cursor: pointer;
    margin-bottom: 2vh;
}
.terminos{
    font-size: 1vw;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    color: #8C8E97;
}

.btn{
    background-color: #F9F9FC;
    border-radius: 30px;
    border: 0px;
    height: 48px;
    width: 280px;
    cursor: pointer;
}
.cuenta{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 12px;
    text-align: center;
}
.azul{
    color: blue;
    cursor: pointer;
}

@media (min-width: 30px) and (max-width: 820px){
    .btni{
        border: none;
        position: absolute;
        top: 3vh;
        left:3vw;
        border-radius: 48px;
        background: #ffffff;
        width: 6vw;
        padding: 1.5vh 2vw;
        font-size: 4vw;
        font-family: 'Inter', sans-serif;
        cursor: pointer;
    }
    .logo{
       position: absolute;
        top: 1vh;
        left: 50vw;
        z-index: 2;
    }
    .imglogo{
        height: 9vh;
        width: 50vw;
    }
    .card{
        position: absolute;
        top: -98vh;
        left: -1vw;
        background-color: rgb(255, 255, 255);
        height: 100vh;
        width: 99vw;
        border-radius: 0px 0px 0px 0px;
    }
    .datos{
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 10vh;
    }
    .derecha{
        display: flex;
        position: relative;
    }
    .linea {
        position: relative;
        z-index: 1;
    }
    .linea::before {
        content: "";
        border-top: 1px solid #000000;
        width: 97%;
        position: absolute;
        top: 1.4vh;
        z-index: -1;
    }
    .progres{
        position: relative;
        margin-bottom: 10vh;
    }
    .pr1{
        position: absolute;
        margin-left: -1vw;
        width: 6vw;
    }
    .pr2{
        position: absolute;
        margin-left: 45vw;
        width: 6vw;
    }
    .pr3{
        position: absolute;
        margin-left: 87vw;
        width: 6vw;
    }
    .sign1{
        font-size: 10vw;
        text-align: center;
        margin-bottom: 0px;
        font-family: 'Inter', sans-serif;
    }
    .sign2{
        font-size: 4vw;
        text-align: center;
        font-family: 'Noto Sans Display', sans-serif;
    }
    .intereses > p{
        text-align: center;
        font-size: 4vw;
        text-align: center;
        font-family: 'Inter', sans-serif;
    }
    .intereses > button{
        border-radius: 24px;
        border: none;
        background-color: #EFF5FF;
        padding: 8px 12px;
        cursor: pointer;
    }
    .intereses{
        display:inline;
        justify-items: center;
    }
    .form{
        margin-top: -5vh;
    }
    .ns{
        font-family: 'Inter', sans-serif;
        background: var(--second-linear, linear-gradient(139deg, #F7CE46 0%, #FBE27E 100%));
        border-radius: 60px;
        border: 0px;
        font-size: 5vw;
        width: 92vw;
        height: 5vh;
        cursor: pointer;
        margin-bottom: 2vh;
    }
    .terminos{
        font-size: 3vw;
        text-align: center;
        font-family: 'Noto Sans Display', sans-serif;
        color: #8C8E97;
    }
    
    .btn{
        background-color: #F9F9FC;
        border-radius: 30px;
        border: 0px;
        height: 48px;
        width: 280px;
        cursor: pointer;
    }
    .cuenta{
        font-family: 'Noto Sans Display', sans-serif;
        font-size: 4vw;
        text-align: center;
    }
    .azul{
        color: blue;
        cursor: pointer;
    }
}