.btni{
    border: none;
    position: absolute;
    top: 3vh;
    left:59vw;
    border-radius: 48px;
    background: #F7CE46;
    width: 6vw;
    padding: 1.5vh 2vw;
    font-size: 1vw;
    font-family: 'Noto Sans Display', sans-serif;
    cursor: pointer;
}
.img{
    margin-top: -1.7vh;
    margin-left: -0.8vw;
    margin-bottom: -2vh;
    height: 100vh;
    width: 40vw;
}
.logo{
    position: absolute;
    top: 5vh;
    left: 7.5vw;
}
.imglogo{
    height: 10vh;
    width: 16.5vw;
}
.card{
    position: absolute;
    top: -98.5vh;
    left: 32.5vw;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 66.9vw;
    border-radius: 60px 0px 0px 60px;
}
.datos{
    margin-left: 15vw;
    margin-right: 15vw;
}
.derecha{
    display: flex;
    position: relative;
}
.linea {
    position: relative;
    height: 4vh;
    z-index: 1;
}
.linea::before {
    content: "";
    border-top: 1px solid #000000;
    width: 100%;
    position: absolute;
    top: 1.9vh;
    z-index: -1;
}
.progres{
    position: relative;
    margin-bottom: 1vh;
}
.pr1{
    position: absolute;
    margin-left: -19vw;
    width: 2vw;
}
.pr2{
    position: absolute;
    margin-left: -1vw;
    width: 2vw;
}
.pr3{
    position: absolute;
    margin-left: 17vw;
    width: 2vw;
}
.sign1{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
}
.sign2{
    font-size: 1vw;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
}
.city{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.3vw;
    display: flex;
    position: relative;
    margin-bottom: 4vh;
}
.city > p{
    position: absolute;
    top: -1.5vh;
}
.email{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.3vw;
    display: flex;
    position: relative;
    margin-bottom: 4vh;
}
.email > p{
    position: absolute;
    top: -1.5vh;
}
.password{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.3vw;
    display: flex;
    position: relative;
    margin-bottom: 4vh;
}
.password > p{
    position: absolute;
    top: -1.5vh;
}
.repeat{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.3vw;
    display: flex;
    position: relative;
    margin-bottom: 4vh;
}
.repeat > p{
    position: absolute;
    top: -1.5vh;
}
.input1{
    margin-left: 11vw;
    border-radius: 12px;
    border: 1px solid;
    border-color: #DDDFE5;
    width: 26vw;
    height: 5vh;
}
.input{
    margin-left: 12vw;
    border-radius: 12px;
    border: 1px solid;
    border-color: #DDDFE5;
    width: 25vw;
    height: 6vh;
}
.ns{
    font-family: 'Inter', sans-serif;
    background: var(--second-linear, linear-gradient(139deg, #F7CE46 0%, #FBE27E 100%));
    border-radius: 60px;
    border: 0px;
    font-size: 1.5vw;
    width: 38vw;
    height: 6vh;
    cursor: pointer;
    margin-bottom: 6vh;
}
.terminos{
    font-size: 1vw;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    color: #8C8E97;
    margin-bottom: 6vh;
}
.linea {
    text-align: center;
    position: relative;
    z-index: 1;
}
.linea::before {
    content: "";
    border-top: 1px solid #000000;
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    z-index: -1;
}
.linea > span {
    background-color: white;
    padding: 0px 8px;
    color: #2A2B2E;
    font-size: 14px;
    font-weight: 500;
}
.btn{
    background-color: #F9F9FC;
    border-radius: 30px;
    border: 0px;
    height: 48px;
    width: 280px;
    cursor: pointer;
}
.cuenta{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 2vh;
    text-align: center;
}
.azul{
    color: blue;
    cursor: pointer;
}

@media (min-width: 30px) and (max-width: 820px){
    .btni{
    border: none;
        position: absolute;
        top: 3vh;
        left:3vw;
        border-radius: 48px;
        background: #ffffff;
        width: 6vw;
        padding: 1.5vh 2vw;
        font-size: 4vw;
        font-family: 'Inter', sans-serif;
        cursor: pointer;
}
.logo{
    position: absolute;
    top: 1vh;
    left: 50vw;
    z-index: 2;
}
.imglogo{
    height: 9vh;
    width: 50vw;;
}
.card{
    position: absolute;
    top: -98vh;
    left: -1vw;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 99vw;
    border-radius: 0px 0px 0px 0px;
}
.datos{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 10vh;
}
.derecha{
    display: flex;
    position: relative;
}
.linea {
    position: relative;
    z-index: 1;
}
.linea::before {
        content: "";
        border-top: 1px solid #000000;
        width: 97%;
        position: absolute;
        top: 1.4vh;
        z-index: -1;
}
.progres{
    position: relative;
    margin-bottom: 10vh;
}
.pr1{
    position: absolute;
    margin-left: -48vw;
    width: 6vw;
}
.pr2{
    position: absolute;
    margin-left: -1vw;
    width: 6vw;
}
.pr3{
    position: absolute;
    margin-left: 39vw;
    width: 6vw;
}
.sign1{
    font-size: 10vw;
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
}
.sign2{
    font-size: 4vw;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
}
.form{
    margin-top: -7vh;
}
.city{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 4.5vw;
    display: flex;
    position: relative;
    margin-bottom: 4vh;
}
.city > p{
    position: absolute;
    top: -1.5vh;
}
.email{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 4.5vw;
    display: flex;
    position: relative;
    margin-bottom: 4vh;
}
.email > p{
    position: absolute;
    top: -1.5vh;
}
.password{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 4.5vw;
    display: flex;
    position: relative;
    margin-bottom: 4vh;
}
.password > p{
    position: absolute;
    top: -1.5vh;
}
.repeat{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 4.5vw;
    display: flex;
    position: relative;
    margin-bottom: 4vh;
}
.repeat > p{
    position: absolute;
    top: -1.5vh;
}
.input1{
    margin-top: 5vh;
    margin-left: 0vw;
    border-radius: 12px;
    border: 1px solid;
    border-color: #DDDFE5;
    width: 90vw;
    height: 4vh;
}
.input{
    margin-top: 5vh;
    margin-left: 0vw;
    border-radius: 12px;
    border: 1px solid;
    border-color: #DDDFE5;
    width: 90vw;
    height: 4vh;
}
.ns{
    font-family: 'Inter', sans-serif;
    background: var(--second-linear, linear-gradient(139deg, #F7CE46 0%, #FBE27E 100%));
    border-radius: 60px;
    border: 0px;
    font-size: 5vw;
    width: 92vw;
    height: 5vh;
    cursor: pointer;
    margin-bottom: 2vh;
}
.terminos{
    font-size: 3vw;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    color: #8C8E97;
}

.btn{
    background-color: #F9F9FC;
    border-radius: 30px;
    border: 0px;
    height: 48px;
    width: 280px;
    cursor: pointer;
}
.cuenta{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 4vw;
    text-align: center;
}
.azul{
    color: blue;
    cursor: pointer;
}
}